In [52]:
#!pip install google-genai
#!pip install pymongo

In [53]:
import pandas as pd
import pymysql
import sqlalchemy
import pymongo
from pymongo import MongoClient
from pymongo.cursor import Cursor
import os
from google import genai
import json

## API Set Up: Google Gemini LLM API

In [54]:
# Set up API key for Google Gemini LLM API
# Read in the key from json file
def load_config():
    with open("config.json", "r") as file:
        return json.load(file)

In [55]:
# load the key
config = load_config()
API_KEY = config["API_KEY"]

In [56]:
# Set up the AI model we want to use
class Custom_GenAI:

    def __init__(self, API_KEY):
        
        self.client = genai.Client(api_key=API_KEY)

    def ask_ai(self, question):
        response = self.client.models.generate_content(
        model="gemini-2.0-flash",
        contents=question,
        )

        return response.text

In [57]:
ai = Custom_GenAI(API_KEY)

### Test the AI

In [58]:
# Test whether the AI works
ques = "How many states are in US, give me simple answer"
res = ai.ask_ai(ques)
print(res)

There are 50 states in the US.

## Database Connection

### MySQL & MongoDB NLI

In [ ]:
# MySQL Connection
apt = sqlalchemy.create_engine("mysql+pymysql://root:YOUR_PASSWORD@localhost/aptadditional")

# MongoDB Connection
client = MongoClient("mongodb://localhost:YOUR_PORT/")

In [ ]:
class Custom_GenAI:

    def __init__(self, API_KEY):
        self.client = genai.Client(api_key=API_KEY)

    def ask_ai(self, question):
        prompt = f"""
You are a natural language interface for both MySQL and MongoDB databases.

The user has access to the following databases and their respective tables/collections:

MySQL Database: aptadditional
- amenities (amenity_id, amenity_name)
- property_amenities (id, amenity_id)
- pricing (id, price, currency)
- price_details (id, price_display, price_type)
- pets (id, pets_allowed, fee)
    - `pets_allowed` includes only: 'Cats,Dogs', 'No pets allowed', 'Cats', or 'Dogs'
    - `fee` includes 'Yes' or 'No' for extra fees

MongoDB Database: rental
- general_info (id, title, body)
    - `title` is a short description of the apartment
    - `body` is the long description of the apartment
- location (id, cityname, state, latitude, longitude)
    - `state` uses U.S. state abbreviations like 'CA', 'NY', 'NC'
- property_details (id, square_feet, bedrooms, bathrooms)
- media (id, has_photo)
- sources (id, source, time)

Assume mySQL has initialized as:
apt = sqlalchemy.create_engine("mysql+pymysql://root:YOUR_PASSWORD@localhost/aptadditional")

Assume MongoClient has been initialized as:
client = MongoClient("mongodb://localhost:YOUR_PORT/")

Your task:
- Determine whether the query should run on the MySQL or MongoDB database
- Return a valid JSON object with two keys:
  - "engine": either "mysql" or "mongodb"
  - "query": a single-line SQL or a **single-line valid PyMongo command**

Pymongo Supported commands:
- `.find(filter, projection)` for simple filtering
- `.aggregate([...])` for advanced operations using `$match`, `$group`, `$sort`, `$limit`, `$skip`, `$project`, `$lookup`
- `.insert_one`, `.insert_many`, `.update_one`, `.update_many`, `.delete_one`, `.delete_many` for data modification
- Do **not** use unsupported methods like `.count_documents()`, `.find_one()`, etc.
- If the requested fields are from different collections, use `$lookup` in the aggregation query to join them based on a common key (usually `id`).
- Do not use `.aggregate()` for simple lookups where `.find()` with projection would suffice.

Always:
- Use fully qualified MySQL table names (e.g., `additionalInfo.pricing`)
- Format the response as a single-line JSON 
- Use **PyMongo command only** for MongoDB: Use PyMongo syntax with client[...] for all MongoDB collections.
Example: client['rental'].aggregate([...])


**DO NOT** explain the query.  
**DO NOT** use natural language.  
**DO NOT** return markdown.

---

Question: {question}
"""
        try:
            response = self.client.models.generate_content(
            model="gemini-2.0-flash",
            contents=prompt
            )
            
            raw_output = response.text.strip()
            
            # Handle common formatting issues
            if raw_output.startswith("```json"):
                raw_output = raw_output.replace("```json", "").replace("```", "").strip()
            
            parsed = json.loads(raw_output)
            return parsed  

        except json.JSONDecodeError as e:
            print("Failed to parse LLM output as JSON:", response.text)
            raise e

In [61]:
ai = Custom_GenAI(API_KEY)

print("Welcome to the Unified Database Natural Language Interface!")
print("Type 'exit' to quit.\n")

while True:
    print("|=========================================================================|")
    question = input("Enter your question: ")
    
    if question.lower() == "exit":
        print("Thank you and bye!")
        break

    try:
        response = ai.ask_ai(question)
        
        print("\nEngine Selected:", response["engine"])
        print("Generated Query:", response["query"])

        if response["engine"] == "mysql":
            query = response["query"].replace("%", "%%") 

            query_type = query.strip().lower().split()[0]

            if query_type in ("select", "show", "describe", "use", "explain"):
                result_sql = pd.read_sql(query, apt)
                print("\nMySQL Query Result:")
                display(result_sql.head())
            else:
                try:
                    with apt.connect() as conn:
                        with conn.begin():
                            conn.execute(sqlalchemy.text(query))
                    print("Query executed successfully.")
                except Exception as e:
                    print("MySQL Execution error:", e)
        elif response["engine"] == "mongodb":
            mongo_query = response["query"].replace("```python", "").replace("```", "").strip()
            try:
                result = eval(mongo_query)
                
                # Handle Data Modification Section
                if isinstance(result, pymongo.results.InsertOneResult):
                    print(f"Document inserted.")
                elif isinstance(result, pymongo.results.InsertManyResult):
                    print(f"Documents inserted.")
                elif isinstance(result, pymongo.results.UpdateResult):
                    print(f"Documents matched: {result.matched_count}, modified: {result.modified_count}")
                elif isinstance(result, pymongo.results.DeleteResult):
                    print(f"Documents deleted: {result.deleted_count}")

                elif hasattr(result, '__iter__') or isinstance(result, list):
                    result_mongo = list(result)
                    print("\nMongoDB Query Result:")
                    if len(result_mongo) == 1 and isinstance(result_mongo[0], dict):
                        # print any key-value result
                        for k, v in result_mongo[0].items():
                            print(f"{k.replace('_', ' ').capitalize()}: {v}")
                    elif result_mongo:
                        for doc in result_mongo:
                            print(doc)
                    else:
                        print("No results found.")
            except Exception as e:
                print("MongoDB query execution error:", e)
        else:
            print("Unknown engine specified in response.")
    except json.JSONDecodeError:
        print("Error: LLM output could not be parsed as JSON.")
    except Exception as e:
        print("Execution error:", e)

Welcome to the Unified Database Natural Language Interface!
Type 'exit' to quit.

|=========================================================================|

Enter your question:  Show the cheapest apartment amenities and pets policy

Engine Selected: mysql
Generated Query: SELECT aptadditional.amenities.amenity_name, aptadditional.pets.pets_allowed FROM aptadditional.amenities JOIN aptadditional.property_amenities ON aptadditional.amenities.amenity_id = aptadditional.property_amenities.amenity_id JOIN aptadditional.pets ON aptadditional.property_amenities.id = aptadditional.pets.id JOIN aptadditional.pricing ON aptadditional.property_amenities.id = aptadditional.pricing.id ORDER BY aptadditional.pricing.price ASC LIMIT 1

MySQL Query Result:

  amenity_name     pets_allowed
0  No amenties  No pets allowed

|=========================================================================|

Enter your question:  Show the top 3 most expensive apartments listing price skipping the first 5

Engine Selected: mysql
Generated Query: SELECT price FROM aptadditional.pricing ORDER BY price DESC LIMIT 3 OFFSET 5;

MySQL Query Result:

   price
0  11500
1  11000
2  11000

|=========================================================================|

Enter your question:  Which pet rules have more than 1000 listings?

Engine Selected: mysql
Generated Query: SELECT pets_allowed FROM aptadditional.pets GROUP BY pets_allowed HAVING COUNT(*) > 1000;

MySQL Query Result:

      pets_allowed
0  No pets allowed
1        Cats,Dogs

|=========================================================================|

Enter your question:  Add a new listing with id ‘testobs’ and price in price table at 1500 USD

Engine Selected: mysql
Generated Query: INSERT INTO aptadditional.pricing (id, price, currency) VALUES ('testobs', 1500, 'USD');
Query executed successfully.
|=========================================================================|

Enter your question:  Did the listing with ID 'testobs' get added in price table?

Engine Selected: mysql
Generated Query: SELECT EXISTS (SELECT 1 FROM aptadditional.pricing WHERE id = 'testobs')

MySQL Query Result:

   EXISTS (SELECT 1 FROM aptadditional.pricing WHERE id = 'testobs')
0                                                  1

|=========================================================================|

Enter your question:  Update the price to 2000 for listing 'testobs' in the pricing table.

Engine Selected: mysql
Generated Query: UPDATE aptadditional.pricing SET price = 2000 WHERE id = 'testobs';
Query executed successfully.
|=========================================================================|

Enter your question:  Can you tell me the current price for listing ‘testobs’ from the pricing table display both id and price.

Engine Selected: mysql
Generated Query: SELECT id, price FROM aptadditional.pricing WHERE id = 'testobs'

MySQL Query Result:

        id  price
0  testobs   2000

|=========================================================================|

Enter your question:  Please remove the listing with ID 'testobs' from the pricing table.

Engine Selected: mysql
Generated Query: DELETE FROM aptadditional.pricing WHERE id = 'testobs'
Query executed successfully.
|=========================================================================|

Enter your question:  Is the ‘testobs’ listing still in the pricing table?

Engine Selected: mysql
Generated Query: SELECT * FROM aptadditional.pricing WHERE id = 'testobs';

MySQL Query Result:

Empty DataFrame
Columns: [id, price, currency]
Index: []

|=========================================================================|

Enter your question:  Show me 3 apartment listings in Florida with exactly 2 bedrooms? I only need their ID, city name, state, number of bedrooms and square footage.

Engine Selected: mongodb
Generated Query: client['rental']['location'].aggregate([{"$match": {"state": "FL"}}, {"$lookup": {"from": "property_details", "localField": "id", "foreignField": "id", "as": "property_details"}}, {"$unwind": "$property_details"}, {"$match": {"property_details.bedrooms": 2}}, {"$limit": 3}, {"$project": {"id": 1, "cityname": 1, "state": 1, "bedrooms": "$property_details.bedrooms", "square_feet": "$property_details.square_feet", "_id": 0}}])

MongoDB Query Result:
{'id': 5668630356, 'cityname': 'West Palm Beach', 'state': 'FL', 'bedrooms': 2.0, 'square_feet': 1600}
{'id': 5668619348, 'cityname': 'Gainesville', 'state': 'FL', 'bedrooms': 2.0, 'square_feet': 338}
{'id': 5668636750, 'cityname': 'Miami Beach', 'state': 'FL', 'bedrooms': 2.0, 'square_feet': 789}
|=========================================================================|

Enter your question:  Which 5 cities have the highest number of apartment listings?

Engine Selected: mongodb
Generated Query: client['rental']['location'].aggregate([{"$group": {"_id": "$cityname", "count": {"$sum": 1}}}, {"$sort": {"count": -1}}, {"$limit": 5}])

MongoDB Query Result:
{'_id': 'Charlotte', 'count': 1121}
{'_id': 'Arlington', 'count': 941}
{'_id': 'Richmond', 'count': 897}
{'_id': 'Alexandria', 'count': 889}
{'_id': 'Raleigh', 'count': 865}
|=========================================================================|

Enter your question:  Add a new apartment to the listings with id ‘apt888’, titled ‘Oceanview Studio’, the description is ‘Quiet studio near the beach in Santa Monica’.

Engine Selected: mongodb
Generated Query: client['rental']['general_info'].insert_one({'id': 'apt888', 'title': 'Oceanview Studio', 'body': 'Quiet studio near the beach in Santa Monica'})
Document inserted.
|=========================================================================|

Enter your question:  Find the listing with id ‘apt888’ and show its general info.

Engine Selected: mongodb
Generated Query: client['rental']['general_info'].find({'id': 'apt888'})

MongoDB Query Result:
 id: 680982a1b69e504ac24d720a
Id: apt888
Title: Oceanview Studio
Body: Quiet studio near the beach in Santa Monica
|=========================================================================|

Enter your question:  Delete the listing with ID 'apt888' and 'apt889' in source

Engine Selected: mongodb
Generated Query: client['rental']['sources'].delete_many({'id': {'$in': ['apt888', 'apt889']}})
Documents deleted: 2
|=========================================================================|

Enter your question:  Insert two record into the sources collection: one with id ‘apt888’ and source ‘google’ and another with id ‘apt889’ and source ‘bing’.

Engine Selected: mongodb
Generated Query: client['rental']['sources'].insert_many([{'id': 'apt888', 'source': 'google'}, {'id': 'apt889', 'source': 'bing'}])
Documents inserted.
|=========================================================================|

Enter your question:  Update the source to ‘Yahoo’ for ID ‘apt888’ and 'google' for ID 'apt889'

Engine Selected: mongodb
Generated Query: client['rental']['sources'].update_many({'id': {'$in': ['apt888', 'apt889']}}, [{'$set': {'source': {'$cond': {'if': {'$eq': ['$id', 'apt888']}, 'then': 'Yahoo', 'else': 'google'}}}},])
Documents matched: 2, modified: 2
|=========================================================================|

Enter your question:  Show me the id and source for listing ‘apt888’ and ‘apt889’.

Engine Selected: mongodb
Generated Query: client['rental']['sources'].find({'id': {'$in': ['apt888', 'apt889']}}, {'id': 1, 'source': 1, '_id': 0})

MongoDB Query Result:
{'id': 'apt888', 'source': 'Yahoo'}
{'id': 'apt889', 'source': 'google'}
|=========================================================================|

Enter your question:  exit

Thank you and bye!